.srv-item {
  width: 45px;
  height: 45px;
  background-color: white;

  display: inline-block;

  margin: 5px;

  border-radius: 50%;

  background: no-repeat center;
  background-size: cover;

  transition-duration: 0.3s;
}

.srv-item:hover {
  border-radius: 25%;
}