.srv-add {
  width: 45px;
  height: 45px;

  display: inline-block;

  margin: 5px;

  border-radius: 50%;
  border: 2px dashed white;

  background: url(./add.svg) no-repeat center;
  background-size: 50%;
  background-color: transparent;

  transition-duration: 0.3s;
}

.srv-add:hover {
  transform: rotate(180deg);
}