.auth {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: linear-gradient(rgba(36, 36, 36, 0.95), rgba(36, 36, 36, 0.95)), url(./bg.jpg) center fixed;
  background-size: cover;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  background-color: #141414;

  border-radius: 9px;
  width: 20%;
  min-width: 400px;

  text-align: center;
}

.auth-form img {
  width: 80%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.auth-form .input {
  border: none;
  color:white;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.auth-form .input-text {
  background-color:#242424;
}

.auth-form .input-btn {
  background-color:#7D69F8;
  text-decoration: none;
}
